<div class="gestion-tarifas">
  <h2>Gestión de Tarifas</h2>
  <button class="btnA" (click)="tarifasA()">Agregar Tarifa</button>

  <table>
    <thead>
      <tr>
        <th>Tiempo</th>
        <th>Costo por Hora</th>
        <th class="puntos">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tarifa of tarifas; let i = index">
        <td>{{ tarifa.tiempo }}</td>
        <td>{{ tarifa.costo }}$ por hora</td>
        <td class="acciones">
          <div class="menu-container">
            <button class="menu-button" (click)="toggleMenu(i)">⋯</button>
            <div class="menu-options" *ngIf="menuVisibleIndex === i">
              <button (click)="tarifass()">Editar</button>
              <button (click)="eliminarTarifa(tarifa)">Eliminar</button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="popup-overlay-profile" *ngIf="tarifasActualizar">
    <div class="popup-content-profile-edit">
      <form [formGroup]="tarifaForm">
        <div class="description">
          <label for="tiempo">Tiempo:</label>
          <input type="text" id="tiempo" formControlName="tiempo" min="0">
          <div *ngIf="tarifaForm.get('tiempo')?.hasError('required') && tarifaForm.get('tiempo')?.touched"
            class="error-message">
            El tiempo es obligatorio.
          </div>

          <label for="costo">Costo por Hora:</label>
          <input type="number" id="costo" formControlName="costo" min="0">
          <div *ngIf="tarifaForm.get('costo')?.hasError('required') && tarifaForm.get('costo')?.touched"
            class="error-message">
            El costo por hora es obligatorio.
          </div>
        </div>

        <div class="btns">
          <button class="btn" type="submit" (click)="actualizarTarifa()">Definir Tarifa</button>
          <button class="btn" (click)="tarifass()">Cerrar</button>
        </div>
      </form>
    </div>

    <div class="alert-container" *ngIf="showDangerAlert">
      <div *ngIf="showDangerAlert" class="alert-danger">
        <svg viewBox="0 0 24 24" class="icon">
          <path fill="currentColor"
            d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
        </svg>
        {{textError}}
      </div>
    </div>
  </div>

  <div class="popup-overlay-profile" *ngIf="tarifasAgregar">
    <div class="popup-content-profile-edit">
      <form [formGroup]="tarifaFormA">
        <div class="description">
          <label for="tiempo">Tiempo:</label>
          <input type="text" id="tiempo" formControlName="tiempo" min="0">
          <div *ngIf="tarifaFormA.get('tiempo')?.hasError('required') && tarifaFormA.get('tiempo')?.touched"
            class="error-message">
            El tiempo es obligatorio.
          </div>

          <label for="costo">Costo por Hora:</label>
          <input type="number" id="costo" formControlName="costo" min="0">
          <div *ngIf="tarifaFormA.get('costo')?.hasError('required') && tarifaFormA.get('costo')?.touched"
            class="error-message">
            El costo por hora es obligatorio.
          </div>
        </div>

        <div class="btns">
          <button class="btn" type="submit" (click)="agregarTarifa()">Agregar</button>
          <button class="btn" (click)="tarifasA()">Cerrar</button>
        </div>
      </form>
    </div>

    <div class="alert-container" *ngIf="showDangerAlert">
      <div *ngIf="showDangerAlert" class="alert-danger">
        <svg viewBox="0 0 24 24" class="icon">
          <path fill="currentColor"
            d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
        </svg>
        {{textError}}
      </div>
    </div>
  </div>
</div>

<div class="alert-container">
  <div *ngIf="showConfirmAlert" class="alert-conf">
    <svg class="icon" xmlns="http://www.w3.org/2000/svg" margin-right="10" width="25" height="25" fill="currentColor"
      class="bi bi-check-lg" viewBox="0 0 16 16">
      <path
        d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z" />
    </svg>
    {{textConfirm}}
  </div>

</div>