.gestion-espacios {
    background-color: #F2EABC;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.gestion-espacios h2 {
    color: #194756;
    margin-bottom: 20px;
}

.gestion-espacios form {
    display: flex;
    flex-direction: column;
}

.gestion-espacios label {
    margin-bottom: 5px;
    color: #194756;
}

.gestion-espacios input[type="text"],
.gestion-espacios select {
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #080000;
    border-radius: 5px;
    font-size: 16px;
}

.gestion-espacios button {
    background-color: #54736E;
    color: #FFFFFF;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.gestion-espacios button:hover {
    background-color: #FF3B58;
}

.gestion-espacios ul {
    list-style-type: none;
    padding: 0;
}

.gestion-espacios li {
    margin-top: 10px;
}

.gestion-espacios li button {
    background-color: #FF3B58;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.3s;
}

.gestion-espacios li button:hover {
    background-color: #54736E;
}

input.error, select.error {
    border: 1px solid red;
    background-color: #ffdddd;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}