.gestion-espacios {
    background-color: var(--white);
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px var(--black);
}

.gestion-espacios h2 {
    color: var(--gray);
    margin-bottom: 20px;
}

.gestion-espacios .btnA {
    background-color: var(--green);
    color: var(--white);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.gestion-espacios .btnA:hover {
    background-color: var(--red);
}

.gestion-espacios ul {
    list-style-type: none;
    padding: 0;
}

.gestion-espacios li {
    margin-top: 10px;
}

.gestion-espacios button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: var(--gray);
    cursor: pointer;
    transition: background-color 0.3s;
}

.totales-disponibles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

label.totales {
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--black);
}

.totales-disponibles .total {
    background-color: white;
    width: 100%;
    max-width: 90px;
    padding: 8px 12px;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid var(--gray);
    border-radius: 6px;
    transition: border-color 0.3s, box-shadow 0.3s ease;
}

input.total:focus {
    border-color: var(--green);
    box-shadow: 0 0 6px var(--green);
    outline: none;
}

button.total-b {
    color: var(--white);
    padding: 8px 16px;
    font-size: 1rem;
    background-color: var(--green);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button.total-b:hover {
    background-color: var(--red);
    transform: scale(1.05);
}

span.total-s {
    font-size: 1.1rem;
    color: var(--gray);
    font-style: normal;
}

@media (max-width: 768px) {
    .totales-disponibles {
        flex-direction: column;
        gap: 0.8rem;
    }

    .totales-disponibles .total,
    button.total-b {
        width: 50%;
        font-size: 0.9rem;
    }

    label.totales {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .totales-disponibles {
        padding: 10px;
        gap: 0.5rem;
    }

    .totales-disponibles .total,
    button.total-b {
        font-size: 0.8rem;
        padding: 6px 10px;
    }

    label.totales {
        font-size: 0.9rem;
    }
}


input.error,
select.error {
    border: 1px solid red;
    background-color: #ffdddd;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 20px;
    border: none;
    border-radius: 6px;
    overflow: visible;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

th,
td {
    text-align: left;
    padding: 12px 15px;
    color: var(--gray);
    font-family: 'Arial', sans-serif;
    font-size: 14px;
}

th {
    background-color: var(--black);
    color: var(--white);
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid var(--gray);
}

tr:nth-child(even) {
    background-color: var(--white);
}

.puntos {
    width: 50px;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

td {
    border-bottom: 1px solid #e0e0e0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.acciones {
    position: relative;
}

.menu-container {
    position: relative;
    display: inline-block;
}

.menu-button {

    border: none;
    font-size: 1.2em;
    cursor: pointer;
    background-color: var(--white);
}

.menu-button {
    background: none;
    border: none;
    font-size: 1.2em;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

tr .menu-button {
    opacity: 1;
}

.menu-options {
    position: absolute;
    top: 20px;
    right: 0;
    background-color: var(--white);
    box-shadow: 0 4px 8px var(--black);
    border-radius: 5px;
    padding: 5px;
    z-index: 10;
}

.menu-options button {
    background: none;
    border: none;
    padding: 8px 12px;
    text-align: left;
    width: 100%;
    cursor: pointer;
    color: var(--black);
}

.menu-options button:hover {
    color: var(--black);
}

.popup-overlay-profile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}


// .popup-content-profile {
//     background: #000000;
//     padding: 20px;
//     border-radius: 8px;
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
//     max-width: 400px;
//     width: 90%;
//     text-align: center;
// }


/* Contenedor datos perfil principal */
.popup-content-profile,
.popup-content-profile-edit {
    position: fixed;
    background: #1c1c1c;
    padding: 30px;
    border-radius: 12px;
    border: none;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    color: var(--white);
    font-family: Arial, sans-serif;
    animation: fadeIn 0.3s ease-in-out;
}

/* Cabecera */
.popup-content-profile .header {
    display: grid;
    align-items: center;
    background: var(--gray);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
}


.header .img {
    height: 45px;
    width: 45px;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 2px solid #ffffff;
}


.popup-content-profile .details {
    margin-left: 15px;
    color: var(--white);
}

.details .name {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
}


.popup-content-profile .description {
    margin: 20px 0;
    font-size: 0.95em;
    color: var(--white);
    font-weight: bolder;
}


.popup-content-profile .btns {
    display: flex;
    justify-content: space-between;
}

.popup-content-profile .btns .btn {
    height: 35px;
    width: 100%;
    background: var(--gray);
    color: var(--white);
    border: none;
    border-radius: 25px;
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s;
    cursor: pointer;
}

/* Título del formulario */
.popup-content-profile-edit h4 {
    font-size: 1.4em;
    color: var(--white);
    margin-bottom: 20px;
    text-align: center;
}

.popup-content-profile-edit .description label {
    font-family: sans-serif;
    font-size: 0.9em;
    color: var(--white);
    display: block;
    font-weight: bolder;
    margin-top: 10px;
    text-align: left;
}

.popup-content-profile-edit .description input[type="number"],
.popup-content-profile-edit .description input[type="text"] {
    width: 90%;
    padding: 8px 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #555555;
    border-radius: 5px;
    background: var(--gray);
    color: var(--white);
    font-size: 0.9em;
}

.popup-content-profile-edit .description input[type="number"]+br,
.popup-content-profile-edit .description input[type="text"]+br {
    display: none;
}

.btns .btn {
    margin-right: 8px;
    background: var(--gray);
    color: var(--white);
    border: none;
    border-radius: 25px;
    font-size: 0.9em;
}

.btns .btn:hover {
    background-color: var(--red);
}

.btns .btn-1,
.btns .btn-2 {
    margin-right: 8px;
}

@media (max-width: 768px) {

    .gestion-espacios form {
        flex-direction: column;
    }

    .gestion-espacios label {
        font-size: 14px;
    }

    .gestion-espacios input[type="text"],
    .gestion-espacios input[type="number"],
    .gestion-espacios select {
        font-size: 14px;
        padding: 8px;
    }

    .gestion-espacios button {
        font-size: 14px;
        padding: 8px;
    }

    .menu-options {
        width: 100%;
        right: auto;
        padding: 10px;
    }
}

@media (max-width: 480px) {

    .gestion-espacios h2 {
        font-size: 18px;
        text-align: center;
    }

    .gestion-espacios input[type="text"],
    .gestion-espacios input[type="number"],
    .gestion-espacios select {
        font-size: 12px;
        padding: 6px;
    }

    .gestion-espacios button {
        font-size: 12px;
        padding: 6px;
    }

    .menu-button {
        font-size: 1em;
    }

    .menu-options button {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    table {
        font-size: 14px;
    }

    th,
    td {
        padding: 6px;
    }
}

@media (max-width: 480px) {
    table {
        font-size: 12px;
    }

    th,
    td {
        padding: 4px;
    }
}

.alert-container {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* Espacio entre las alertas */
}

.alert-danger {

    display: flex;
    align-items: center;
    padding: 15px;
    width: 300px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    background-color: var(--red);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.5s ease forwards, fadeOut 2.5s ease 2s forwards;
}


.alert-danger .icon {
    width: 30px;
    margin-right: 10px;
}

.alert-conf {
    display: flex;
    align-items: center;
    padding: 15px;
    width: 390px;
    color: white !important;
    border-radius: 5px;
    font-weight: bold;
    background-color: var(--green);
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.5s ease forwards, fadeOut 2.5s ease 2s forwards;
}

.alert-conf .icon {
    width: 30px;
    margin-right: 10px;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 1;
        transform: translateY(0);
    }

    99% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 0;
        transform: translateY(-1000px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Contenedor principal del grid */
.espacios-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 8px; 
    padding: 8px; 
    border-radius: 12px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
    margin: 16px 0; 
    max-width: 90%; 
    margin-left: auto;
    margin-right: auto; 
}

/* Estilo para cada tarjeta de espacio */
.espacio-card {
    border: 1px solid #e0e0e0;
    border-radius: 6px; 
    overflow: hidden;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    padding: 8px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Efecto hover para las tarjetas */
.espacio-card:hover {
    transform: scale(1.05); 
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2); 
}

/* Estilo para el estado disponible */
.espacio-card.disponible {
    background-color: var(--blue2); 
    border-color: var(--blue2); 
}

/* Estilo para el estado reservado */
.espacio-card.reservado {
    background-color: var(--blue); 
    border-color: var(--blue); 
}

/* Estilo para el estado ocupado */
.espacio-card.ocupado {
    background-color: var(--gray); 
    border-color: var(--gray); 
}

/* Información del espacio */
.espacio-info {
    padding: 8px; 
    background-color: transparent;
    border-bottom: 2px solid #e0e0e0;
    border-radius: 4px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: center; 
}

/* Títulos de la información del espacio */
.espacio-info h4 {
    margin: 0;
    font-size: 1em; 
    color: #333;
    font-weight: 600;
}

/* Estilo de los iconos de estado */
.estado-separado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px; 
    padding: 8px;
    font-size: 0.9em;
    color: #333;
}

/* Estilos para hacer todo responsive */
@media screen and (max-width: 600px) {
    .espacios-grid {
        grid-template-columns: 1fr; 
        gap: 6px;
        padding: 6px;
    }

    .espacio-card {
        padding: 6px; 
    }

    .espacio-info h4 {
        font-size: 0.9em; 
    }

    .estado-separado {
        font-size: 0.8em; 
    }
}




//////////////////////////////////////////////////////////////////



/* Contenedor principal para los estados */
.estado-separado {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    padding: 10px;
  }
  
  /* Contenedor para cada estado */
  .estado-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
  }
  
  /* Estado disponible */
  .estado-disponible {
    background-color: var(--blue2); 
    color: white;
  }
  
  /* Estado reservado */
  .estado-reservado {
    background-color: var(--blue); 
    color: white;
  }
  
  /* Estado ocupado */
  .estado-ocupado {
    background-color: var(--gray); 
    color: white;
  }
  
  /* Estilo para los iconos */
  .icono {
    font-size: 1.3em;
  }
  
  
  
  