<div class="gestion-espacios">
  <h2>Gestión de Espacios</h2>

  <button class="btnA" type="button" (click)="espacio()">Agregar Espacio</button>

  <table *ngIf="espacios.length > 0">
    <thead>
      <tr>
        <th>Nombre del Espacio</th>
        <th>Tipo de Espacio</th>
        <th class="puntos"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let espacio of espacios; let i = index">
        <td>{{ espacio.nombre }}</td>
        <td>{{ espacio.tipo }}</td>
        <td class="acciones">
          <div class="menu-container">
            <button class="menu-button" (click)="toggleMenu(i)">⋯</button>
            <div class="menu-options" *ngIf="menuVisibleIndex === i">
              <button (click)="eliminarEspacio(espacio)">Eliminar</button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="espaciosMostrar" class="popup-overlay-profile">
    <div class="popup-content-profile-edit">
      <div class="description">
        <form [formGroup]="espacioForm">
          <label for="nombre">Nombre del Espacio:</label>
          <input type="text" id="nombre" formControlName="nombre" required>
          <div *ngIf="espacioForm.get('nombre')?.hasError('required') && espacioForm.get('nombre')?.touched"
            class="error-message">
            Ingrese un nombre para el espacio.
          </div>

          <label for="tipo">Tipo de Espacio:</label>
          <select id="tipo" formControlName="tipo" required>
            <option value="" disabled selected>Seleccione un tipo de espacio</option>
            <option value="auto">Auto</option>
            <option value="moto">Moto</option>
          </select>
          <div *ngIf="espacioForm.get('tipo')?.hasError('required') && espacioForm.get('tipo')?.touched"
            class="error-message">
            Seleccione un tipo de espacio.
          </div>

          <div class="btns">
            <button class="btn" (click)="agregarEspacio()">Agregar</button>
            <button class="btn" (click)="espacio()">Cerrar</button>
          </div>

        </form>
      </div>
    </div>
  </div>
  <div *ngIf="espacios.length === 0">
    No hay espacios registrados.
  </div>
</div>

<div class="alert-container">
  <div *ngIf="showDangerAlert" class="alert-danger">
      <svg viewBox="0 0 24 24" class="icon">
          <path fill="currentColor"
              d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
      </svg>
      {{textError}}

  </div>
  <div *ngIf="showWarningAlert" class="alert-warnin">
      <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
          fill="#FFFFFF">
          <path
              d="m40-120 440-760 440 760H40Zm138-80h604L480-720 178-200Zm302-40q17 0 28.5-11.5T520-280q0-17-11.5-28.5T480-320q-17 0-28.5 11.5T440-280q0 17 11.5 28.5T480-240Zm-40-120h80v-200h-80v200Zm40-100Z" />
      </svg>
      {{textAlert}}
  </div>
</div>