.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.hader-main {
    background-color: var(--black);
    width: 100%;
    height: 150px;
    color: var(--white);
    box-sizing: border-box;
    padding: 35px 0 0 20px;
    display: flex;
    justify-content: space-between;
}

.container {
    background-color: var(--white);
    min-height: 100vh;
}

p {
    margin-left: 20px;
    font-size: 14.5px;
    color: rgba(255, 255, 255, 0.7);
}

.hader-main h2 {
    cursor: pointer;
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
}
.hader-main p svg{
    transform: translateY(5px);
    transition: all 0.5s;
}
.hader-main p {
    margin-right: 25px;
    padding:0  20px;
    cursor: pointer;
    width: auto;
    border-radius: 12px;
    height: 30px;
    transition: all 0.5s;
}
.hader-main p:hover  {
    background-color: #555;
    border-radius: 12px;
}

.card-client {
    width: 450px;
    height: auto;
    padding: 32px;
    border-radius: 12px;
    margin: auto;
    background-color: #1e2023;
}

.card-client svg.icon-perfil {
    background-color: #2d3e50;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
    display: block;
    padding: 15px;
}

.card-client h2 {
    background-color: #777;
    border-radius: 12px;
    padding: 0 30px;
    font-size: 26px;
    margin-bottom: 20px;
    color: var(--white);
    text-align: center;
}

.card-client h3 {
    border-radius: 12px;
    padding: 0 30px;
    font-size: 30px;
    margin-bottom: 20px;
    color: var(--white);
    text-align: center;
}

.card-client p.cliente {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
}

.card-client span {
    display: block;
    margin: 10px 0;
    font-size: 16px;
    color: #777;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: var(--gray);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

th,
td {
    padding: 12px;
    text-align: left;
    border: none;
    background-color: #2b2e33;
    color: white;
}

th {
    background-color: var(--black);
    color: var(--white);
    font-weight: bold;
}

tbody tr:hover {
    background-color: var(--white);
}

tbody tr:nth-child(even) {
    background-color: var(--white);
}

tbody tr:nth-child(odd) {
    background-color: var(--white);
}


button {
    padding: 10px 20px;
    background-color: var(--green);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: all 0.5s;
}

.botns {
    text-align: center;
    justify-content: center;
}

button:hover {
    background-color: var(--blue);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.contenido-modal {
    width: 450px;
    position: relative;
    max-height: 90%;
    overflow-y: auto;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
    transition: all 0.5s;
}

.close:hover {
    color: var(--red);
}

@media screen and (max-width: 768px) {
    .hader-main h2 {
        width: 300px;
        font-size: 20px;
    }
    .hader-main p {
        font-size: 15px;
    }
    .card-client {
        width: 90%;
        padding: 15px;

    }

    .card-client h2 {
        font-size: 20px;
    }

    .card-client p.cliente {
        font-size: 16px;
    }

    button {
        width: 100%;
    }

    .modal .contenido-modal {
        width: 100%;
    }
}