<div class="contenedor-perfil">
  <div class="card-client">
    <h2>Mis Datos</h2>
    <p class="cliente">{{nombre}} {{apellido}}
      <span>Correo Electronico: {{correo}}</span>
      <span>Telefono: {{telefono}}</span>
      <span>Contratos: {{contrato}}</span>
    </p>
    <table *ngIf="contratos && contratos.length > 0" border="1">
      <thead>
        <tr>
          <th>Nombre del Espacio</th>
          <th>Placa</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contrato of contratos">
          <td>{{ contrato.nombreE }}</td>
          <td>{{ contrato.placa }}</td>
        </tr>
      </tbody>
    </table>
    <p *ngIf="contratos.length === 0">No tienes contratos registrados.</p>

    <button (click)="ActualizarPerfil = true">Actualizar Perfil</button>
  </div>
  <div *ngIf="ActualizarPerfil" class="modal">
    <div class="contenido-modal">
      <span class="close" (click)="actualizar(false)">&times;</span>
      <app-actualizar-perfil (actualizado)="actualizar($event)"></app-actualizar-perfil>
    </div>
  </div>
</div>