.container{
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.hader-main {
    background-color: var(--black);
    width: 100%;
    height: 150px;
    color: var(--white);
    box-sizing: border-box;
    padding: 35px 0 0 20px;
}

.container {
    background-color: var(--white);
    min-height: 100vh;
}

p {
    margin-left: 20px;
    font-size: 14.5px;
    color: rgba(255, 255, 255, 0.7);
}

.hader-main h2 {
    cursor: pointer;
    color: #eee;
    width: 50%;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
}
.card-client{
    width: 450px;
    height: auto;
    padding: 32px;
    border-radius: 12px;
    margin: auto ;
    background-color: #1e2023;
}
.card-client h2 {
    background-color:#777;
    border-radius: 12px;
    padding: 0 30px;
    font-size: 26px;
    margin-bottom: 20px;
    color: var(--white);
}

.card-client p.cliente {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
}

.card-client span {
    display: block;
    margin: 10px 0;
    font-size: 16px;
    color: #777;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th,
td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #2d3e50;
    color: white;
}

tbody tr:hover {
    background-color: #f2f2f2;
}

button {
    padding: 10px 20px;
    background-color: var(--green);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: all 0.5s;
}
.botns{
    text-align: center;
    justify-content: center;
}
button:hover {
    background-color:var(--blue);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido-modal {
    width: 450px;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
}

.close:hover {
    color: #000;
}

@media screen and (max-width: 768px) {
    .hader-main h2 {
        width: 300px;
    }    
    .card-client {
        width: 90%;
        padding: 15px;
        
    }

    .card-client h2 {
        font-size: 20px;
    }

    .card-client p.cliente {
        font-size: 16px;
    }

    button {
        width: 100%;
    }

    .modal .contenido-modal {
        width: 100%;
    }
}

