<div class="contenedor">
  <h1>Gestión de Parqueadero</h1>

  <!-- Formulario para ingreso -->
  <form [formGroup]="registroForm" (ngSubmit)="agregarVehiculo()">
    <div class="form-group">
      <label for="placa">Placa del vehículo:</label>
      <input
        id="placa"
        type="text"
        formControlName="placa"
        placeholder="Ingrese la placa"
        required
      />
      <div class="error" *ngIf="registroForm.get('placa')?.invalid && registroForm.get('placa')?.touched">
        La placa es requerida y debe ser válida.
      </div>
    </div>

    <button type="submit" [disabled]="registroForm.invalid">Añadir al Parqueadero</button>
  </form>

  <!-- Vehículos dentro del parqueadero -->
  <h2>Vehículos en el Parqueadero</h2>
  <table *ngIf="vehiculosEnParqueadero.length > 0">
    <thead>
      <tr>
        <th>Placa</th>
        <th>Tipo</th>
        <th>Fecha de Ingreso</th>
        <th>Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vehiculo of vehiculosEnParqueadero">
        <td>{{ vehiculo.placa }}</td>
        <td>{{ vehiculo.tipo }}</td>
        <td>{{ vehiculo.fechaIngreso | date: 'short' }}</td>
        <td>
          <button (click)="registrarSalida(vehiculo)">Salir</button>
        </td>
      </tr>
    </tbody>
  </table>

  <h2>Historial de Parqueo</h2>
  <div class="filtros">
    <button (click)="obtenerHistorial('dia')">Por Día</button>
    <button (click)="obtenerHistorial('semana')">Por Semana</button>
    <button (click)="obtenerHistorial('mes')">Por Mes</button>
  </div>

  <table>
    <thead>
      <tr>
        <th>Placa</th>
        <th>Tipo</th>
        <th>Fecha de Ingreso</th>
        <th>Fecha de Salida</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let registro of historial">
        <td>{{ registro.placa }}</td>
        
        <td>{{ registro.tipo === 'C' ? 'Contrato' : (registro.tipo==='T'? "Ticket": "  ") }}</td>
        <td>{{ registro.fechaIngreso | date: 'short' }}</td>
        <td>{{ registro.fechaSalida ? (registro.fechaSalida | date: 'short') : '---' }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="alert-container">
  <div *ngIf="showConfirmAlert" class="alert-conf">
    <svg class="icon" xmlns="http://www.w3.org/2000/svg" margin-right="10" width="25" height="25" fill="currentColor"
      class="bi bi-check-lg" viewBox="0 0 16 16">
      <path
        d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z" />
    </svg>
    {{textConfirm}}
  </div>
  <div class="alert-container" *ngIf="showDangerAlert">
      <div *ngIf="showDangerAlert" class="alert-danger">
        <svg viewBox="0 0 24 24" class="icon">
          <path fill="currentColor"
            d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
        </svg>
        {{textError}}
      </div>
    </div>
