.hader-main {
    background-color:var(--black);
    width: 100%;
    height: 150px;
    color: #f1f1f1;
    box-sizing: border-box;
    padding: 35px 0 0 20px;
}
@media (max-width: 768px) {
    .container-register{
        text-align: center;
        display:flex;
        flex-direction: column;
    }.login-container{
        margin: 40px auto;
        width: 100%;
        height:auto ;
    }.login-container input {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .container-register{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
    }.login-container{
        margin: 40px auto;
        width: 60%;
        height:auto ;
    }.login-container input {
        width: 80%;
    }.contact-card{
        display: flex;
    }.item-register{
        padding-left: 12px;
    }.container {
        display: grid;
        grid-template: 
        "hader-main" auto
        "login-container" auto
        "contact-card" 250px;
    }
}
.container {
    background-color: rgb(134, 134, 139);
    min-height: 100vh;
}

p {
    margin-left: 20px;
    font-size: 14.5px;
    color: var(--gray);
}

.hader-main h2 {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    cursor: pointer;
}

.login-container {
    background-color: var(--black);
    padding: 30px 20px;
    border-radius: 20px;
    border: 1px solid #333;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    color: white;
}

.login-container h2 {
    font-weight: 600;
    letter-spacing: -1px;
    align-items: center;
    padding: 30px 30px;
    color: var(--blue)
}

.login-container label {
    margin-top: 1rem;
    color: var(--blue);
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgba(156, 156, 156, 0.376)
}

.login-container input:focus {
    outline: 2px solid #527299;
}

.is-danger {
    outline: 2px solid #be3e3eb8;
    color: black;
}

.error-message {
    font-size: 12px;
    font-style: italic;
    color: rgba(255, 0, 0, 0.687);
    transform: translateY(2.3rem);
    position: absolute;

}

.error-message-password {
    font-size: 12px;
    padding: 0;
    margin: 0;
    font-style: italic;
    color: rgba(255, 0, 0, 0.687);
}

.conteiner-error-message-password {
    position: absolute;
}

.button-submit {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    box-sizing: border-box;
}

.iconGoogle {
    transform: translateY(2.5px);
    padding: 0 5px 0 0;
    width: 15px;
    height: 15px;
}

.button-submit-google {
    padding-top: 0px;
}

button {
    border: none;
    width: 190px;
    padding: 10px 20px;
    background-color: #707070;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button-submit:hover button {
    background-color: var(--green);
}
.button-submit-google:hover button{
    background-color: var(--blue2);
}

.alert-container {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;    
}

.alert-danger {
    display: flex;
    align-items: center;
    padding: 15px;
    width: 300px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    background-color: #dc3545;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.5s ease forwards, fadeOut 2.5s ease 2s forwards;
}


.alert-danger .icon {
    width: 30px;
    margin-right: 10px;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 1;
        transform: translateY(0);
    }

    99% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 0;
        transform: translateY(-1000px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.alert-warnin{
    display: flex;
    padding: 15px;
    width: 300px;
    color: white !important;
    border-radius: 5px;
    font-weight: bold;
    background-color: #d5a30e;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.5s ease forwards, fadeOut 2.5s ease 2s forwards;
}
.alert-warnin .icon {
    width: 30px;
    margin-right: 10px;
}



/*************************************************/



.contact-card {
    background-color: var(--gray);
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
}

.text-card {
    margin: 10px;
}

.contact-card h3 {
    color: #ffffff;
}

.title img {
    background-color: var(--white);
    border-radius: 50%;
}

.contact-card p {
    font-size: 14px;
    color: #ffffff;
    margin: 5px 0;
}

.social-icons {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 10px;
}

.social-icons a {
    text-decoration: none;
    color: var(--white);
    padding: 4px;
    gap: 10px;
    text-align: left;
    justify-content: center;
}

.social-icons a .img-icons {
    width: 30px;
    height: 30px;
    transform: translateY(5px);
    transition: transform 0.3s ease, opacity 0.3s ease;
}


