<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="container">
        <h2>Registrarse</h2>
        <mat-form-field class="example-full-width"> 
            <mat-label>Email</mat-label>
            <input matInput placeholder="example.com" formControlName="email">
            
        </mat-form-field>

        <mat-form-field class="example-full-width"> 
            <mat-label>Password</mat-label>
            <input matInput [type]="'password'" formControlName="password">
        </mat-form-field>

        <div class="button-submit">
            <button mat-flat-button type="submit">Registrarse</button>
        </div>
    </div>
    
</form>
<div class="button-submit">
    <button mat-flat-button type="submit" (click)="onGoogle()" >Inciar con google</button>
</div>


<!-- <section>
    <h1>Registrarse</h1>
    <label for="nombre">Nombre</label>
    <input type="text" name="nombre" id="">

    <label for="apellido">Apellido</label>
    <input type="text" name="apellido" id="">

    <label for="correo">Correo Electronico</label>
    <input type="text" name="correo" id="">
    
    <label for="contrasenia">Contraseña</label>
    <input type="text" name="contrasenia" id="">

    <label for="confirmar">Confirmar Contraseña</label>
    <input type="text" name="confirmar" id="">
    <button class="registrarse" routerLink="/pages/gestion">Registrarse</button>
</section> -->
<!-- Logica Alterna para rellenar el formulario -->


