<div class="container">
    <div class="hader-main">
        <h2>
            Parqueadero UPS
        </h2>
    </div>

    <form [formGroup]="form">
        <div class="login-container">
            <h2>Registrarse</h2>
            
            <label for="name">Nombre</label>
            <div *ngIf="form.get('name')?.hasError('required') && form.get('name')?.touched" class="error-message">
                El nombre es requerido.
            </div>
            <input placeholder="Ingrese su nombre" class="input-class" [class.is-danger]="form.get('name')?.hasError('required') && form.get('name')?.touched" formControlName="name"><br>


            <label for="lastName">Apellido</label><br>
            <div *ngIf="form.get('lastName')?.hasError('required') && form.get('lastName')?.touched" class="error-message">
                El apellido es requerido.
            </div>
            <input placeholder="Ingrese su apellido" formControlName="lastName" required><br>


            <label for="numberPhone">Numero celular/telefono</label><br>
            <div *ngIf="form.get('numberPhone')?.hasError('required') && form.get('numberPhone')?.touched" class="error-message">
                El numero es requerido.
            </div>
            <input matInput formControlName="numberPhone" required><br>

            
            <label for="addres">Direccion</label><br>
            <div *ngIf="form.get('addres')?.hasError('required') && form.get('addres')?.touched" class="error-message">
                El codigo es obligatoria.
            </div>
            <input matInput placeholder="Direccion, nombre edificio.etc" formControlName="addres" required><br>


            <label for="codeZip">codigo postal</label><br>
            <div *ngIf="form.get('codeZip')?.hasError('required') && form.get('codeZip')?.touched" class="error-message">
                La Direccion es obligatoria.
            </div>
            <input matInput formControlName="codeZip" required><br>


            <label for="country">Pais</label><br>
            <div *ngIf="form.get('country')?.hasError('required') && form.get('country')?.touched" class="error-message">
                Escoja un Pais
            </div>
            <input matInput formControlName="country" placeholder="Seleccione un paiss"><br>


            <label for="city">Ciudad</label><br>
            <div *ngIf="form.get('city')?.hasError('required') && form.get('city')?.touched" class="error-message">
                Escoja una ciudad.
            </div>
            <input matInput placeholder="Seleccione una ciudad" formControlName="city"><br>


            <label for="email">Correo electrónico</label><br>
            <div *ngIf="form.get('email')?.hasError('required') && form.get('email')?.touched" class="error-message">
                Ingrese un correo
            </div>
            <input matInput placeholder="example.com" formControlName="email"><br>

            <label for="password">Contraseña</label><br>            
            <input matInput [type]="'password'" formControlName="password"><br>
            <label for="passwordRepit">Repita la contraseña</label><br>
            <input matInput [type]="'password'" formControlName="passwordRepit"><br>

            <div *ngIf=" form.get('password')?.hasError('minlength') " 
                class="error-message">
                La contraseña debe ser mayor a 8 caracteres.
            </div>
            <div *ngIf="form.get('password')?.hasError('required') && form.get('password')?.touched" 
                class="error-message">
                Ingrese una contraseña.
            </div>
            <div *ngIf="form.hasError('fieldsMismatch')" class="error-message">
                Las contraseñas deben coincidir.
            </div>
            <div class="button-submit">
                <button type="submit" (click)="onSubmit()">Registrarse</button>
            </div>
            <div class="button-submit">
                <button  type="submit" (click)="onGoogle()">Inciar con google</button>
            </div>
        </div>
    </form>


</div>