.actualizar-perfil {
    background-color: #F2EABC;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.actualizar-perfil h2 {
    color: #194756;
    margin-bottom: 20px;
}

.actualizar-perfil form {
    display: flex;
    flex-direction: column;
}

.actualizar-perfil label {
    margin-bottom: 5px;
    color: #194756;
}

.actualizar-perfil input[type="text"],
.actualizar-perfil input[type="email"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #080000;
    border-radius: 5px;
    font-size: 16px;
}

.actualizar-perfil button {
    background-color: #54736E;
    color: #FFFFFF;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.actualizar-perfil button:hover {
    background-color: #FF3B58;
}
