.actualizar-perfil {
    background-color: black; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.actualizar-perfil h2 {
    color: rgb(0, 86, 173); 
    margin-bottom: 20px;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
}

.actualizar-perfil form {
    display: flex;
    flex-direction: column;
}

.actualizar-perfil label {
    margin-bottom: 5px;
    color: #5885bc; 
}

.actualizar-perfil input[type="text"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid transparent;
    border-radius: 5px;
    
    background-color: rgba(156, 156, 156, 0.376); 
    font-size: 16px;
}

.actualizar-perfil input:focus {
    outline: 2px solid #527299; 
}

.actualizar-perfil button {
    margin-top: 20px;
    background-color: #707070; 
    color: #FFFFFF;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.actualizar-perfil button:hover {
    background-color: #58bc82; 
}
.actualizar-perfil .items-form{
    margin: 10px 0;
}
.is-danger{
    border: 2px solid red !important;
}
.error-message {
    transform: translateY(-14px);
    position: absolute;
    color: red;
    font-style: italic;
    font-size: 0.9em;
    margin-top: 5px;
}
