<div class="gestion-contratos">
    <h2>Gestión de Contratos de Arriendo</h2>

    <button class="btnA" (click)="contrato()">Agregar Contrato</button>

    <table *ngIf="contratos.length > 0">
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Correo Cliente</th>
                <th>Espacio</th>
                <th>Placa</th>
                <th class="puntos"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contrato of contratos; let i = index">
                <td>{{ contrato.usuario.nombre }}</td>
                <td>{{ contrato.usuario.email}}</td>
                <td>{{ contrato.espacio.nombreEspacio }}</td>
                <td>{{ contrato.placa }}</td>
                <td class="acciones">
                    <div class="menu-container">
                        <button class="menu-button" (click)="toggleMenu(i)">⋯</button>
                        <div class="menu-options" *ngIf="menuVisibleIndex === i">
                            <button (click)="eliminarContrato(contrato)">Eliminar</button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="agregaContrato" class="popup-overlay-profile">
        <div class="popup-content-profile-edit">
            
            <div *ngIf="!espacioSeleccionado" class="container-newTicket">
                <div class="target-container-newTicket">
                    <h3>Seleccione un Espacio</h3>
                    <p>Para continuar con el contrato, seleccione un espacio disponible.</p>
                    <div class="espacios-grid">
                        <div *ngFor="let espacio of espacios; let i = index">
                            <div class="espacio-card" *ngIf="espacio.estado!=='D'"
                                [ngClass]="{'reservado': espacio.estado === 'R', 'ocupado': espacio.estado === 'O'}">
                                <div class="espacio-info">
                                    <h4>{{ espacio.nombreEspacio.length > 6 ? 'E' + (i + 1) : espacio.nombreEspacio.charAt(0) }}</h4>
                                </div>
                            </div>
                            <div class="espacio-card" (click)="selecionarEspacio(espacio)"
                                *ngIf="espacio.estado==='D'"
                                [ngClass]="{'disponible': espacio.estado === 'D'}"
                                [class.select]="espacio === espacioSeleccionado">
                                <div class="espacio-info">
                                    <h4>{{ espacio.nombreEspacio.length > 6 ? 'E' + (i + 1) : espacio.nombreEspacio }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button class="next-ticket-select" *ngIf="espacioSeleccionado" (click)="confirmarEspacio()">
                            Continuar
                        </button>
                        <button class="next-ticket-notSelect" *ngIf="!espacioSeleccionado">
                            Continuar
                        </button>
                    </div>
                </div>
            </div>
    
            <div *ngIf="espacioSeleccionado">
                <div class="description">
                    <form [formGroup]="contratoForm">
                        
                        <div>
                            <label for="cliente">Nombre del Cliente:</label>
                            <select id="cliente" formControlName="cliente">
                                <option value="" disabled selected>Seleccione un cliente</option>
                                <ng-container *ngFor="let cliente of clientes">
                                    <option *ngIf="!cliente.rol" [value]="cliente.id">
                                        {{ cliente.nombre }} {{ cliente.apellido }} ({{ cliente.email }})
                                    </option>
                                </ng-container>
                            </select>
                        </div>
    
                        <div>
                            <label>Espacio Seleccionado:</label>
                            <p class="espacio-seleccionado">{{ espacioSeleccionado.nombreEspacio }}</p>
                        </div>
    
                        <div>
                            <label for="placa">Placa:</label>
                            <input type="text" id="placa" formControlName="placa" placeholder="AAA-0000">
                            <div *ngIf="contratoForm.get('placa')?.hasError('pattern') && contratoForm.get('placa')?.touched"
                                class="error-message">
                                Formato de placa inválido. Ejemplo: AAA-0000.
                            </div>
                        </div>
    
                        <div>
                            <label for="fechaInicio">Fecha de Inicio:</label>
                            <input type="date" id="fechaInicio" formControlName="fechaInicio" [min]="fechaHoy">
                            <div *ngIf="contratoForm.get('fechaInicio')?.hasError('required') && contratoForm.get('fechaInicio')?.touched"
                                class="error-message">
                                Ingrese la fecha de inicio.
                            </div>
                        
                            <label for="fechaFin">Fecha de Fin:</label>
                            <input type="date" id="fechaFin" formControlName="fechaFin" [min]="contratoForm.get('fechaInicio')?.value" readonly>
                            <div *ngIf="contratoForm.get('fechaFin')?.hasError('required') && contratoForm.get('fechaFin')?.touched"
                                class="error-message">
                                Ingrese la fecha de fin.
                            </div>
                        
                            <div *ngIf="contratoForm.hasError('fechaInvalida') && contratoForm.touched"
                                class="error-message">
                                La fecha de fin debe ser mayor a la fecha de inicio.
                            </div>
                        </div>
                        
    
                        <div>
                            <label for="tarifa">Tarifa:</label>
                            <select id="tarifa" formControlName="tarifa">
                                <option value="" disabled selected>Seleccione una tarifa</option>
                                <option *ngFor="let tarifa of tarifas" [value]="tarifa.tiempo">
                                    {{ tarifa.tiempo }} - {{ tarifa.costo | currency }}
                                </option>
                            </select>
                        </div>
    
                        <div class="btns">
                            <button class="btn" type="submit" (click)="agregarContrato()">Agregar</button>
                            <button class="btn" (click)="contrato()">Cerrar</button>
                        </div>
    
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <div *ngIf="contratos.length === 0">No hay contratos registrados.</div>
</div>