<div class="gestion-contratos">
    <h2>Gestión de Contratos de Arriendo</h2>
    <form>
        <label for="cliente">Nombre del Cliente:</label>
        <select id="cliente" [(ngModel)]="cliente" name="cliente" required>
            <option value="" disabled selected>Seleccione un cliente</option>
            <option *ngFor="let cliente of clientes" [value]="cliente.nombre">{{cliente.nombre}}{{cliente.apellido}}</option>
        </select>

        <label for="espacio">Espacio:</label>
        <select id="espacio" [(ngModel)]="espacio" name="espacio" required>
            <option value="" disabled selected>Seleccione un espacio</option>
            <option *ngFor="let espacio of espaciosF" [value]="espacio.nombre">{{ espacio.nombre }}</option>
        </select>

        <label for="duracion">Duración (meses):</label>
        <input type="number" id="duracion" [(ngModel)]="duracion" name="duracion" required>

        <label for="tarifa">Tarifa</label>
        <select id="tarifa" [(ngModel)]="tarifa" name="tarifa" required>
            <option value="" disabled selected>Seleccione un cliente</option>
            <option *ngFor="let tarifa of tarifas" [value]="tarifa.costo">{{tarifa.costo}}</option>
        </select>

        <button type="submit" (click)="agregarContrato()">Agregar Contrato</button>
    </form>

    <ul>
        <li *ngFor="let contrato of contratos">
            Espacio: {{ contrato.espacio }} | Duración: {{ contrato.duracion }} meses
            <button (click)="eliminarContrato(contrato)">Eliminar</button>
        </li>
    </ul>
</div>
