<div class="horario-parqueadero">
  <h2>Definir Horario de Trabajo</h2>

  <button class="btnA" (click)="horarioE()">Agregar Horario</button>

  <table>
    <thead>
      <tr>
        <th>Día</th>
        <th>Hora de Apertura</th>
        <th>Hora de Cierre</th>
        <th class="puntos"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let horario of horarios; let i = index">
        <td>{{ horario.dia }}</td>
        <td>{{ horario.horaA }}</td>
        <td>{{ horario.horaC }}</td>
        <td class="acciones">
          <div class="menu-container">
            <button class="menu-button" (click)="toggleMenu(i)">⋯</button>
            <div class="menu-options" *ngIf="menuVisibleIndex === i">
              <button (click)="horarioE()">Editar</button>
              <button (click)="eliminarHorario(horario)">Eliminar</button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="horarioMostrar" class="popup-overlay-profile">
    <div class="popup-content-profile-edit">
      <div class="description">
        <form [formGroup]="horarioForm">
          <label for="dia">Día:</label>
          <select id="dia" formControlName="dia">
            <option value="lunes">Lunes</option>
            <option value="martes">Martes</option>
            <option value="miércoles">Miércoles</option>
            <option value="jueves">Jueves</option>
            <option value="viernes">Viernes</option>
            <option value="sábado">Sábado</option>
            <option value="domingo">Domingo</option>
          </select>
          <div *ngIf="horarioForm.get('dia')?.hasError('required') && horarioForm.get('dia')?.touched"
            class="error-message">
            Por favor selecciona un día.
          </div>

          <label for="horaApertura">Hora de Apertura:</label>
          <input type="time" id="horaApertura" formControlName="horaApertura"
            [class.ng-invalid.ng-touched]="horarioForm.get('horaApertura')?.hasError('required') && horarioForm.get('horaApertura')?.touched">
          <div *ngIf="horarioForm.get('horaApertura')?.hasError('required') && horarioForm.get('horaApertura')?.touched"
            class="error-message">
            La hora de apertura es obligatoria.
          </div>

          <label for="horaCierre">Hora de Cierre:</label>
          <input type="time" id="horaCierre" formControlName="horaCierre">
          <div *ngIf="horarioForm.get('horaCierre')?.hasError('required') && horarioForm.get('horaCierre')?.touched"
            class="error-message">
            La hora de cierre es obligatoria.
          </div>

          <div class="btns">
            <button class="btn" type="submit" (click)="definirHorario()">Definir Horario</button>
            <button class="btn" (click)="horarioE()">Cerrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>

<div class="alert-container">
  <div *ngIf="showDangerAlert" class="alert-danger">
    <svg viewBox="0 0 24 24" class="icon">
      <path fill="currentColor"
        d="M12,20C759,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
    </svg>
    {{textError}}

  </div>
  <div *ngIf="showWarningAlert" class="alert-warnin">
    <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
      fill="#FFFFFF">
      <path
        d="m40-120 440-760 440 760H40Zm138-80h604L480-720 178-200Zm302-40q17 0 28.5-11.5T520-280q0-17-11.5-28.5T480-320q-17 0-28.5 11.5T440-280q0 17 11.5 28.5T480-240Zm-40-120h80v-200h-80v200Zm40-100Z" />
    </svg>
    {{textAlert}}
  </div>
</div>F