.horario-parqueadero {
    background-color: var(--white);
    min-height: 72vh;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--black); 
}

.horario-parqueadero h2 {
    color: var(--gray); 
    margin-bottom: 20px;
}

.horario-parqueadero form {
    display: flex;
    flex-direction: column;
}

.horario-parqueadero label {
    margin-bottom: 5px;
    color: #194756;
}

.horario-parqueadero select,
.horario-parqueadero input[type="time"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid var(--black); 
    border-radius: 5px;
    font-size: 16px;
}

.horario-parqueadero .btnA {
    background-color: var(--green);
    color: var(--white); 
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.horario-parqueadero .btnA:hover {
    background-color: var(--red); 
}

.horario-parqueadero ul {
    list-style-type: none;
    padding: 0;
}

.horario-parqueadero li {
    margin-top: 10px;
}

.horario-parqueadero button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: var(--gray); 
    cursor: pointer;
    transition: background-color 0.3s;
}

.horario-parqueadero li button:hover {
    background-color: var(--gray); 
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
    border: 1px solid red;
    background-color: #FF3B58
}

button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 20px;
    border: 1px solid var(--gray); 
    border-radius: 10px; 
    overflow: hidden; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

th,
td {
    text-align: left;
    padding: 12px 15px; 
    color: var(--gray);
    font-family: 'Arial', sans-serif;
    font-size: 14px;
}

th {
    background-color: var(--black);
    color: var(--white); 
    font-weight: bold;
    text-transform: uppercase; 
    border-bottom: 2px solid var(--gray); 
}

tr:nth-child(even) {
    background-color: var(--white); 
}

.puntos{
    width: 50px;
}
tr:nth-child(odd) {
    background-color: #ffffff; 
}

td {
    border-bottom: 1px solid #e0e0e0; 
    transition: background-color 0.3s ease, color 0.3s ease; 
}

td:hover {
    color: var(--white);
}

tr:hover {
    background-color: #f1f1f1; 
}

.acciones {
    position: relative;
}

.menu-container {
    position: relative;
    display: inline-block;
}

.menu-button {
    background: none;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    background-color: var(--white); 
}

.menu-button {
    background: none;
    border: none;
    font-size: 1.2em;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

tr:hover .menu-button {
    opacity: 1;
}

.menu-options {
    position: absolute;
    top: 20px;
    right: 0;
    background-color: var(--white);
    box-shadow: 0 4px 8px var(--black);
    border-radius: 5px;
    padding: 5px;
    z-index: 10;
}

.menu-options button {
    background: none;
    border: none;
    padding: 8px 12px;
    text-align: left;
    width: 100%;
    cursor: pointer;
    color: var(--black);
}

.menu-options button:hover {
    color: var(--black); 
}

.popup-overlay-profile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}


// .popup-content-profile {
//     background: #000000;
//     padding: 20px;
//     border-radius: 8px;
//     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
//     max-width: 400px;
//     width: 90%;
//     text-align: center;
// }


/* Contenedor datos perfil principal */
.popup-content-profile,
.popup-content-profile-edit {
    position: fixed;
    background: #1c1c1c;
    padding: 30px;
    border-radius: 12px;
    border: none;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    color: var(--white);
    font-family: Arial, sans-serif;
    animation: fadeIn 0.3s ease-in-out;
}

/* Cabecera */
.popup-content-profile .header {
    display: grid;
    align-items: center;
    background: var(--gray);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    text-align: center;
}


.header .img {
    height: 45px;
    width: 45px;
    background: #d9d9d9;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 2px solid #ffffff;
}


.popup-content-profile .details {
    margin-left: 15px;
    color: var(--white);
}

.details .name {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
}


.popup-content-profile .description {
    margin: 20px 0;
    font-size: 0.95em;
    color: var(--white);
    font-weight: bolder;
}


.popup-content-profile .btns {
    display: flex;
    justify-content: space-between;
}

.popup-content-profile .btns .btn {
    height: 35px;
    width: 100%;
    background: var(--gray);
    color: var(--white);
    border: none;
    border-radius: 25px;
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s;
    cursor: pointer;
}

/* Título del formulario */
.popup-content-profile-edit h4 {
    font-size: 1.4em;
    color: var(--white);
    margin-bottom: 20px;
    text-align: center;
}

.popup-content-profile-edit .description label {
    font-family: sans-serif;
    font-size: 0.9em;
    color: var(--white);
    display: block;
    font-weight: bolder;
    margin-top: 10px;
    text-align: left;
}

.popup-content-profile-edit .description input[type="text"] {
    width: 90%;
    padding: 8px 10px;
    margin-top: 5px;
    border: 1px solid #555555;
    border-radius: 5px;
    background: var(--gray);
    color: var(--white);
    font-size: 0.9em;
}

.popup-content-profile-edit .description input[type="text"]+br {
    display: none;
}

.btns .btn {
    margin-right: 8px;
    background: var(--gray);
    color: var(--white);
    border: none;
    border-radius: 25px;
    font-size: 0.9em;
}

.btns .btn:hover{
    background-color: var(--red);
}

@media (max-width: 768px) {

    .horario-parqueadero form {
        flex-direction: column;
    }

    .horario-parqueadero label {
        font-size: 14px;
    }

    .horario-parqueadero input[type="text"],
    .horario-parqueadero input[type="number"],
    .horario-parqueadero select {
        font-size: 14px;
        padding: 8px;
    }

    .horario-parqueadero button {
        font-size: 14px;
        padding: 8px;
    }

    .menu-options {
        width: 100%;
        right: auto;
        padding: 10px;
    }
}

@media (max-width: 480px) {

    .horario-parqueadero h2 {
        font-size: 18px;
        text-align: center;
    }

    .horario-parqueadero input[type="text"],
    .horario-parqueadero input[type="number"],
    .horario-parqueadero select {
        font-size: 12px;
        padding: 6px;
    }

    .horario-parqueadero button {
        font-size: 12px;
        padding: 6px;
    }

    .menu-button {
        font-size: 1em;
    }

    .menu-options button {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    table {
        font-size: 14px;
    }

    th, td {
        padding: 6px;
    }
}

@media (max-width: 480px) {
    table {
        font-size: 12px;
    }

    th, td {
        padding: 4px;
    }
}

.alert-container {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* Espacio entre las alertas */
}

.alert-danger {

    display: flex;
    align-items: center;
    padding: 15px;
    width: 300px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    background-color: var(--green); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.5s ease forwards, fadeOut 2.5s ease 2s forwards;
}


.alert-danger .icon {
    width: 30px;
    margin-right: 10px;
}

.alert-warnin{
    display: flex;
    align-items: center;
    padding: 15px;
    width: 390px;
    color: white !important;
    border-radius: 5px;
    font-weight: bold;
    background-color: #d5a30e;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.5s ease forwards, fadeOut 2.5s ease 2s forwards;
}
.alert-warnin .icon {
    width: 30px;
    margin-right: 10px;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 1;
        transform: translateY(0);
    }

    99% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 0;
        transform: translateY(-1000px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}