<div class="horario-parqueadero">
    <h2>Definir Horario de Trabajo</h2>
    <form>
      <label for="dia">Día:</label>
      <select id="dia" [(ngModel)]="dia" name="dia" required>
        <option value="lunes">Lunes</option>
        <option value="martes">Martes</option>
        <option value="miércoles">Miércoles</option>
        <option value="jueves">Jueves</option>
        <option value="viernes">Viernes</option>
        <option value="sábado">Sábado</option>
        <option value="domingo">Domingo</option>
      </select>
  
      <label for="horaApertura">Hora de Apertura:</label>
      <input type="time" id="horaApertura" [(ngModel)]="horaApertura" name="horaApertura" required>
  
      <label for="horaCierre">Hora de Cierre:</label>
      <input type="time" id="horaCierre" [(ngModel)]="horaCierre" name="horaCierre" required>
  
      <button type="submit"  (click)="definirHorario()">Definir Horario</button>
    </form>
  
    <ul>
      <li *ngFor="let horario of horarios">
        {{ horario.dia }} - {{ horario.horaApertura }} a {{ horario.horaCierre }}
        <button (click)="eliminarHorario(horario)">Eliminar</button>
      </li>
    </ul>
  </div>
  