<div id="conteiner-menu">
    <ul>
        <li>
            <a class="menu servicios" data-title="Servicios">
                <span><span>Servicios</span></span>
            </a>
        </li>
        <li>
            <a class="menu proyectos" data-title="Proyectos">
                <span><span>Proyectos</span></span>
            </a>
        </li>
        <li>
            <a class="menu recursos" data-title="Recursos">
                <span><span>Recursos</span></span>
            </a>
        </li>
        <li>
            <a class="menu contacto" data-title="Contacto">
                <span><span>Contacto</span></span>
            </a>
        </li>
    </ul>
</div>




<router-outlet />