<div class="conteiner">
    <div class="hader-container">
        <h2 (click)=" this.router.navigate([''])" class="titulo-hader">
            <img src="logoPK.png" alt="logo">
            Parqueadro UPS
        </h2>
        <div class="text-container">
            Hola, {{this.administradorData.nombre}}
        </div>

        <div class="perfil" (click)="accionPerfil()" (click)="getImgServicie()">
            <svg xmlns="http://www.w3.org/2000/svg" height="34px" viewBox="0 -960 960 960" width="34px" fill="#FFFFFF">
                <path
                    d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z" />
            </svg>
        </div>
        <div class="opcione-perfil" *ngIf="isPerfil" [ngClass]="menuAnimationClass">
            <nav class="nav-opc-perfil">
                <ul (click)="redireccionarPerfil()" (click)="accionPerfil()" (click)="this.cdRef.detectChanges();">
                    <svg class="icon-perfil" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960"
                        width="20px" fill="#FFFFFF">
                        <path
                            d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z" />
                    </svg>
                    Cuenta
                </ul>
                <ul (click)="cerrarSeccion()">
                    <svg class="icon-perfil" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960"
                        width="20px" fill="#FFFFFF">
                        <path
                            d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z" />
                    </svg>
                    Cerrar sesion
                </ul>
            </nav>
        </div>


        <div *ngIf="perfilDatosView" class="popup-overlay-profile">
            <div class="popup-content-profile">
                <div class="header">
                    <img src="{{authServicio.getInfo()?.photoURL}}" alt="" class="img" *ngIf="imgView">
                    <svg *ngIf="!imgView" class="icon-profile" xmlns="http://www.w3.org/2000/svg" height="34px"
                        viewBox="0 -960 960 960" width="34px" fill="#FFFFFF">
                        <path
                            d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z" />
                    </svg>
                    <div class="details">
                        <p class="name"> {{this.administradorData.nombre+'
                            '+this.administradorData.apellido}} </p>
                    </div>
                </div>
                <div class="description">
                    <p>Cedula: {{' '+this.administradorData.cedula}}</p>
                    <p>Correo eletronico: {{' '+this.administradorData.email}}</p>
                    <p>Direccion: {{' '+this.administradorData.direccion}}</p>
                    <p>Numero telefonico: {{' '+this.administradorData.telefono}}</p>
                </div>
                <div class="btns">
                    <button class="btn btn-1" (click)="redireccionarPerfil()">Cerrar</button>
                    <button class="btn btn-2" (click)="editarPerfil() " (click)="this.cdRef.detectChanges();"
                        (click)="redireccionarPerfil()">Editar</button>
                </div>
                <div class="alert-container">
                    <div *ngIf="showConfirmAlert" class="alert-conf">
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" margin-right="10" width="25" height="25"
                            fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                            <path
                                d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z" />
                        </svg>
                        {{textConfirm}}
                    </div>

                </div>
            </div>

        </div>
        <div class="popup-overlay-profile" *ngIf="editPerfil">
            <div class="popup-content-profile-edit">
                <form [formGroup]="formAdmin">
                    <h4>Editar informacion</h4>
                    <div class="description">
                        <label for="cedula">Nombre : </label>
                        <input type="text" id="nom" formControlName="name"> <br />

                        <label for="cedula">apellido : </label>
                        <input type="text" id="ape" formControlName="lastName"> <br />

                        <label for="cedula">Cedula : </label>
                        <input type="text" id="cedula" formControlName="codeZip"> <br />

                        <label for="cedula">Direccion : </label>
                        <input type="text" id="dir" formControlName="addres"><br />
                        <label for="cedula">Numero telefonico : </label>
                        <input type="text" id="numeroTelefonico" formControlName="numberPhone"><br />
                    </div>
                    <div class="btns">
                        <button class="btn btn-1" (click)="redireccionarPerfil()"
                            (click)="editarPerfil()">Cerrar</button>
                        <button class="btn btn-2" (click)="setConfirmacionEdit()">Aceptar</button>
                    </div>
                    <div class="alert-container" *ngIf="showDangerAlert">
                        <div *ngIf="showDangerAlert" class="alert-danger">
                            <svg viewBox="0 0 24 24" class="icon">
                                <path fill="currentColor"
                                    d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
                            </svg>
                            {{textError}}
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="cofirmacion-overlay-edit" *ngIf="confirmacionEdit">
            <div class="cofirmacion-edit">
                <p>¿Esta seguro de guardar los cambios?</p>
                <button (click)="setConfirmacionEdit()" (click)="redireccionarPerfil()" (click)="actualizarPerfil()"
                    (click)="editarPerfil()" class="btn"> Confirmar </button>
                <button (click)="setConfirmacionEdit()" class="btn"> Cancelar </button>
            </div>
        </div>
    </div>
    <div class="menu-container">
        <div class="menu_movil">
            
            <div class="background">
                <button class="menu_icon-bnt" (click)="desplegarMenuMovil()" >
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </div>
        <div class="blur-overlay" [class.active]="menuMovil">
            <nav class="nav-container-movil" [class.show-menu]="menuMovil" [class.hide-menu]="!menuMovil"
                *ngIf="menuMovil">
                <ul class="menu-item-movil" (click)="desplegarMenuMovil()">
                    <a class="link-ruta-movil" (click)="abrirSeccion('espacios')">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                            fill="#FFFFFF">
                            <path
                                d="M260-320q25 0 42.5-17.5T320-380q0-25-17.5-42.5T260-440q-25 0-42.5 17.5T200-380q0 25 17.5 42.5T260-320Zm360 0q20 0 36-12t21-31q-20-4-38-13.5T606-401l-25-25q-10 8-15.5 20t-5.5 26q0 25 17.5 42.5T620-320Zm-460 40v-200 200Zm40 80v40q0 17-11.5 28.5T160-120h-40q-17 0-28.5-11.5T80-160v-320l84-240q6-18 21.5-29t34.5-11h140v55q0 6 .5 12.5T362-680H234l-42 120h255l80 80H160v200h560v-81q22-2 42.5-11t37.5-25v237q0 17-11.5 28.5T760-120h-40q-17 0-28.5-11.5T680-160v-40H200Zm400-520q17 0 28.5-11.5T640-760q0-17-11.5-28.5T600-800q-17 0-28.5 11.5T560-760q0 17 11.5 28.5T600-720Zm62 262L458-662q-8-8-13-19.5t-5-23.5v-155q0-25 17.5-42.5T500-920h155q12 0 23.5 5t19.5 13l204 204q17 17 17 42.5T902-613L747-458q-17 17-42.5 17T662-458Zm43-70 127-127-185-185H520v127l185 185Zm-29-156Z" />
                        </svg>
                        <div class="text-item-menu-movil">
                            Espacios
                        </div>

                    </a>
                </ul>

                <ul class="menu-item-movil" (click)="desplegarMenuMovil()">
                    <a class="link-ruta-movil" (click)="abrirSeccion('contratos')">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                            fill="#FFFFFF" class="icon">
                            <path
                                d="M240-80q-50 0-85-35t-35-85v-120h120v-560h600v680q0 50-35 85t-85 35H240Zm480-80q17 0 28.5-11.5T760-200v-600H320v480h360v120q0 17 11.5 28.5T720-160ZM360-600v-80h360v80H360Zm0 120v-80h360v80H360ZM240-160h360v-80H200v40q0 17 11.5 28.5T240-160Zm0 0h-40 400-360Z" />
                        </svg>

                        <div class="text-item-menu-movil">
                            Contratos
                        </div>
                    </a>

                </ul>


                <ul class="menu-item-movil" (click)="desplegarMenuMovil()">
                    <a class="link-ruta" (click)="abrirSeccion('tarifas')">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                            fill="#FFFFFF">
                            <path
                                d="M560-440q-50 0-85-35t-35-85q0-50 35-85t85-35q50 0 85 35t35 85q0 50-35 85t-85 35ZM280-320q-33 0-56.5-23.5T200-400v-320q0-33 23.5-56.5T280-800h560q33 0 56.5 23.5T920-720v320q0 33-23.5 56.5T840-320H280Zm80-80h400q0-33 23.5-56.5T840-480v-160q-33 0-56.5-23.5T760-720H360q0 33-23.5 56.5T280-640v160q33 0 56.5 23.5T360-400Zm440 240H120q-33 0-56.5-23.5T40-240v-440h80v440h680v80ZM280-400v-320 320Z" />
                        </svg>
                        <div class="text-item-menu-movil">
                            Tarifas
                        </div>
                    </a>
                </ul>


                <ul class="menu-item-movil" (click)="desplegarMenuMovil()">
                    <a class="link-ruta-movil" (click)="abrirSeccion('horarios')">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                            fill="#FFFFFF">
                            <path
                                d="M320-400q-17 0-28.5-11.5T280-440q0-17 11.5-28.5T320-480q17 0 28.5 11.5T360-440q0 17-11.5 28.5T320-400Zm160 0q-17 0-28.5-11.5T440-440q0-17 11.5-28.5T480-480q17 0 28.5 11.5T520-440q0 17-11.5 28.5T480-400Zm160 0q-17 0-28.5-11.5T600-440q0-17 11.5-28.5T640-480q17 0 28.5 11.5T680-440q0 17-11.5 28.5T640-400ZM200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Z" />
                        </svg>
                        <div class="text-item-menu-movil">
                            Horarios
                        </div>
                    </a>
                </ul>


                <ul class="menu-item-movil" (click)="desplegarMenuMovil()">
                    <a class="link-ruta-movil" (click)="abrirSeccion('clientes')">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                            fill="#FFFFFF">
                            <path
                                d="M680-360q-42 0-71-29t-29-71q0-42 29-71t71-29q42 0 71 29t29 71q0 42-29 71t-71 29ZM480-160v-56q0-24 12.5-44.5T528-290q36-15 74.5-22.5T680-320q39 0 77.5 7.5T832-290q23 9 35.5 29.5T880-216v56H480Zm-80-320q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Zm0-160ZM80-160v-112q0-34 17-62.5t47-43.5q60-30 124.5-46T400-440q35 0 70 6t70 14l-34 34-34 34q-18-5-36-6.5t-36-1.5q-58 0-113.5 14T180-306q-10 5-15 14t-5 20v32h240v80H80Zm320-80Zm0-320q33 0 56.5-23.5T480-640q0-33-23.5-56.5T400-720q-33 0-56.5 23.5T320-640q0 33 23.5 56.5T400-560Z" />
                        </svg>
                        <div class="text-item-menu-movil">
                            Usuarios
                        </div>
                    </a>
                </ul>

                <ul class="menu-item-movil" (click)="desplegarMenuMovil()">
                    <a class="link-ruta-movil" (click)="abrirSeccion('historial')">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                            fill="#FFFFFF">
                            <path
                                d="M680-360q-42 0-71-29t-29-71q0-42 29-71t71-29q42 0 71 29t29 71q0 42-29 71t-71 29ZM480-160v-56q0-24 12.5-44.5T528-290q36-15 74.5-22.5T680-320q39 0 77.5 7.5T832-290q23 9 35.5 29.5T880-216v56H480Zm-80-320q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Zm0-160ZM80-160v-112q0-34 17-62.5t47-43.5q60-30 124.5-46T400-440q35 0 70 6t70 14l-34 34-34 34q-18-5-36-6.5t-36-1.5q-58 0-113.5 14T180-306q-10 5-15 14t-5 20v32h240v80H80Zm320-80Zm0-320q33 0 56.5-23.5T480-640q0-33-23.5-56.5T400-720q-33 0-56.5 23.5T320-640q0 33 23.5 56.5T400-560Z" />
                        </svg>
                        <div class="text-item-menu-movil">
                            Historial
                        </div>
                    </a>
                </ul>
            </nav>
        </div>



        <nav class="nav-container">
            <ul class="menu-item">
                <a class="link-ruta" (click)="abrirSeccion('espacios')">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                        fill="#FFFFFF">
                        <path
                            d="M260-320q25 0 42.5-17.5T320-380q0-25-17.5-42.5T260-440q-25 0-42.5 17.5T200-380q0 25 17.5 42.5T260-320Zm360 0q20 0 36-12t21-31q-20-4-38-13.5T606-401l-25-25q-10 8-15.5 20t-5.5 26q0 25 17.5 42.5T620-320Zm-460 40v-200 200Zm40 80v40q0 17-11.5 28.5T160-120h-40q-17 0-28.5-11.5T80-160v-320l84-240q6-18 21.5-29t34.5-11h140v55q0 6 .5 12.5T362-680H234l-42 120h255l80 80H160v200h560v-81q22-2 42.5-11t37.5-25v237q0 17-11.5 28.5T760-120h-40q-17 0-28.5-11.5T680-160v-40H200Zm400-520q17 0 28.5-11.5T640-760q0-17-11.5-28.5T600-800q-17 0-28.5 11.5T560-760q0 17 11.5 28.5T600-720Zm62 262L458-662q-8-8-13-19.5t-5-23.5v-155q0-25 17.5-42.5T500-920h155q12 0 23.5 5t19.5 13l204 204q17 17 17 42.5T902-613L747-458q-17 17-42.5 17T662-458Zm43-70 127-127-185-185H520v127l185 185Zm-29-156Z" />
                    </svg>
                    <div class="text-item-menu">
                        Espacios
                    </div>

                </a>
            </ul>

            <ul class="menu-item">
                <a class="link-ruta" (click)="abrirSeccion('contratos')">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                        fill="#FFFFFF" class="icon">
                        <path
                            d="M240-80q-50 0-85-35t-35-85v-120h120v-560h600v680q0 50-35 85t-85 35H240Zm480-80q17 0 28.5-11.5T760-200v-600H320v480h360v120q0 17 11.5 28.5T720-160ZM360-600v-80h360v80H360Zm0 120v-80h360v80H360ZM240-160h360v-80H200v40q0 17 11.5 28.5T240-160Zm0 0h-40 400-360Z" />
                    </svg>
                    <p class="text-iconm"></p>
                    <div class="text-item-menu">
                        Contratos
                    </div>
                </a>

            </ul>


            <ul class="menu-item">
                <a class="link-ruta" (click)="abrirSeccion('tarifas')">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                        fill="#FFFFFF">
                        <path
                            d="M560-440q-50 0-85-35t-35-85q0-50 35-85t85-35q50 0 85 35t35 85q0 50-35 85t-85 35ZM280-320q-33 0-56.5-23.5T200-400v-320q0-33 23.5-56.5T280-800h560q33 0 56.5 23.5T920-720v320q0 33-23.5 56.5T840-320H280Zm80-80h400q0-33 23.5-56.5T840-480v-160q-33 0-56.5-23.5T760-720H360q0 33-23.5 56.5T280-640v160q33 0 56.5 23.5T360-400Zm440 240H120q-33 0-56.5-23.5T40-240v-440h80v440h680v80ZM280-400v-320 320Z" />
                    </svg>
                    <div class="text-item-menu">
                        Tarifas
                    </div>
                </a>
            </ul>


            <ul class="menu-item">
                <a class="link-ruta" (click)="abrirSeccion('horarios')">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                        fill="#FFFFFF">
                        <path
                            d="M320-400q-17 0-28.5-11.5T280-440q0-17 11.5-28.5T320-480q17 0 28.5 11.5T360-440q0 17-11.5 28.5T320-400Zm160 0q-17 0-28.5-11.5T440-440q0-17 11.5-28.5T480-480q17 0 28.5 11.5T520-440q0 17-11.5 28.5T480-400Zm160 0q-17 0-28.5-11.5T600-440q0-17 11.5-28.5T640-480q17 0 28.5 11.5T680-440q0 17-11.5 28.5T640-400ZM200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Z" />
                    </svg>
                    <div class="text-item-menu">
                        Horarios
                    </div>
                </a>
            </ul>


            <ul class="menu-item">
                <a class="link-ruta" (click)="abrirSeccion('clientes')">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                        fill="#FFFFFF">
                        <path
                            d="M680-360q-42 0-71-29t-29-71q0-42 29-71t71-29q42 0 71 29t29 71q0 42-29 71t-71 29ZM480-160v-56q0-24 12.5-44.5T528-290q36-15 74.5-22.5T680-320q39 0 77.5 7.5T832-290q23 9 35.5 29.5T880-216v56H480Zm-80-320q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Zm0-160ZM80-160v-112q0-34 17-62.5t47-43.5q60-30 124.5-46T400-440q35 0 70 6t70 14l-34 34-34 34q-18-5-36-6.5t-36-1.5q-58 0-113.5 14T180-306q-10 5-15 14t-5 20v32h240v80H80Zm320-80Zm0-320q33 0 56.5-23.5T480-640q0-33-23.5-56.5T400-720q-33 0-56.5 23.5T320-640q0 33 23.5 56.5T400-560Z" />
                    </svg>
                    <div class="text-item-menu">
                        Usuarios
                    </div>
                </a>
            </ul>

            <ul class="menu-item">
                <a class="link-ruta" (click)="abrirSeccion('historial')">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                        fill="#FFFFFF">
                        <path
                            d="M680-360q-42 0-71-29t-29-71q0-42 29-71t71-29q42 0 71 29t29 71q0 42-29 71t-71 29ZM480-160v-56q0-24 12.5-44.5T528-290q36-15 74.5-22.5T680-320q39 0 77.5 7.5T832-290q23 9 35.5 29.5T880-216v56H480Zm-80-320q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47Zm0-160ZM80-160v-112q0-34 17-62.5t47-43.5q60-30 124.5-46T400-440q35 0 70 6t70 14l-34 34-34 34q-18-5-36-6.5t-36-1.5q-58 0-113.5 14T180-306q-10 5-15 14t-5 20v32h240v80H80Zm320-80Zm0-320q33 0 56.5-23.5T480-640q0-33-23.5-56.5T400-720q-33 0-56.5 23.5T320-640q0 33 23.5 56.5T400-560Z" />
                    </svg>
                    <div class="text-item-menu">
                        Historial
                    </div>
                </a>
            </ul>
        </nav>
    </div>

    <div class="components">
        <div *ngIf="seccionAbierta('espacios')" class="contenido-espacios">
            <app-gestion-espacios></app-gestion-espacios>
        </div>

        <div *ngIf="seccionAbierta('contratos')" class="contenido-espacios">
            <app-contratos></app-contratos>
        </div>

        <div *ngIf="seccionAbierta('tarifas')" class="contenido-espacios">
            <app-tarifas></app-tarifas>
        </div>

        <div *ngIf="seccionAbierta('horarios')" class="contenido-espacios">
            <app-horarios></app-horarios>
        </div>

        <div *ngIf="seccionAbierta('clientes')" class="contenido-espacios">
            <app-lista-usuarios></app-lista-usuarios>
        </div>

        <div *ngIf="seccionAbierta('historial')" class="contenido-espacios">
            <app-registro></app-registro>
        </div>
    </div>

</div>