:root{
    --white: #e0e6ec;
    --green: #28965a;
    --gray: #4f646f;
    --black: #14080e;
    --red: #dc9596;
    --blue :#597AC2;
    --blue2 :#90b3ff;
}

body { 
    width: 100%;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--white);
}

