<div class="lista-clientes">
  <h2>Lista de Clientes</h2>
  <div class="table-responsive">
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Correo</th>
          <th>Teléfono</th>
          <th>Rol</th>
          <th class="puntos"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes; let i = index">
          <td>{{ cliente.nombre }}</td>
          <td>{{ cliente.apellido }}</td>
          <td>{{ cliente.email }}</td>
          <td>{{ cliente.telefono }}</td>
          <td>{{ cliente.rol ? 'Admin' : 'Cliente' }}</td>
          <td class="acciones">
            <div class="menu-container">
              <button class="menu-button" (click)="toggleMenu(i)">⋯</button>
              <div class="menu-options" *ngIf="menuVisibleIndex === i">
                <button (click)="editarrR(); seleccionarClienteRol(cliente.id);toggleMenu(i)">Rol</button>
                <button (click)="seleccionarCliente(cliente.id); editarrF();toggleMenu(i)">Editar</button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <div *ngIf="editarF" class="popup-overlay-profile">
    <div class="popup-content-profile-edit">
      <div class="description">
        <h3>Editar Cliente</h3>
        <form [formGroup]="editarForm">
          <div>
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" required formControlName="name">
            <div *ngIf="editarForm.get('name')?.hasError('name') && editarForm.get('name')?.touched"
              class="error-message">
              Nombre invalido.
            </div>
          </div>

          <div>
            <label for="lastName">Apellido:</label>
            <input type="text" id="lastName" name="lastName" required formControlName="lastName">
            <div *ngIf="editarForm.get('lastName')?.hasError('required') && editarForm.get('lastName')?.touched"
              class="error-message">
              Apellido invalido.
            </div>
          </div>
          <div>
            <label for="numberPhone">Telefono:</label>
            <input type="text" id="numberPhone" name="numberPhone" required formControlName="numberPhone">
            <div *ngIf="editarForm.get('numberPhone')?.hasError('required') && editarForm.get('numberPhone')?.touched"
              class="error-message">
              Telefono invalido.
            </div>
          </div>

          <div>
            <label for="codeZip">Cedula:</label>
            <input type="text" id="codeZip" name="codeZip" required formControlName="codeZip">
            <div *ngIf="editarForm.get('codeZip')?.hasError('required') && editarForm.get('codeZip')?.touched"
              class="error-message">
              Cedula invalido.
            </div>
          </div>
          <div>
            <label for="addres">Direccion:</label>
            <input type="text" id="addres" name="addres" required formControlName="addres">
            <div *ngIf="editarForm.get('addres')?.hasError('required') && editarForm.get('addres')?.touched"
              class="error-message">
              Direccion invalido.
            </div>
          </div>

          <div class="btns">
            <button class="btn" type="submit" (click)="actualizarCliente()">Actualizar</button>
            <button class="btn" (click)="editarrF()">Cerrar</button>
          </div>
        </form>
      </div>
    </div>
    <div class="alert-container" *ngIf="showDangerAlert">
      <div *ngIf="showDangerAlert" class="alert-danger">
        <svg viewBox="0 0 24 24" class="icon">
          <path fill="currentColor"
            d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
        </svg>
        {{textError}}
      </div>
    </div>
  </div>

  <div *ngIf="editarR" class="popup-overlay-profile">
    <div class="popup-content-profile-edit">
      <div class="description">
        <h3>Editar Cliente</h3>
        <form [formGroup]="editarFormR">

          <div>
            <label for="rol">Rol:</label>
            <select id="rol" formControlName="rol">
              <option value="" disabled selected>Seleccione un rol</option>
              <option value="true">Administrador</option>
              <option value="false">Cliente</option>
            </select>
            <div *ngIf="editarFormR.get('rol')?.hasError('required') && editarFormR.get('rol')?.touched" class="error-message">
              Seleccione un rol.
            </div>
          </div>
    
          <div class="btns">
            <button class="btn" type="submit" (click)="actualizarRol()">Actualizar Rol</button>
            <button class="btn" (click)="editarrR()">Cerrar</button>
          </div>
        </form>
      </div>
    </div>
    <div class="alert-container" *ngIf="showDangerAlert">
      <div *ngIf="showDangerAlert" class="alert-danger">
        <svg viewBox="0 0 24 24" class="icon">
          <path fill="currentColor"
            d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
        </svg>
        {{textError}}
      </div>
    </div>
  </div>

</div>

<div class="alert-container">
  <div *ngIf="showConfirmAlert" class="alert-conf">
    <svg class="icon" xmlns="http://www.w3.org/2000/svg" margin-right="10" width="25" height="25" fill="currentColor"
      class="bi bi-check-lg" viewBox="0 0 16 16">
      <path
        d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z" />
    </svg>
    {{textConfirm}}
  </div>

</div>