<div class="lista-clientes">
  <h2>Lista de Clientes</h2>
  <div class="table-responsive">
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Correo Electrónico</th>
          <th>Teléfono</th>
          <th>Rol</th>
          <th class="puntos"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cliente of clientes; let i = index">
          <td>{{ cliente.nombre }}</td>
          <td>{{ cliente.apellido }}</td>
          <td>{{ cliente.email }}</td>
          <td>{{ cliente.numeroTelefonico }}</td>
          <td>{{ cliente.rolAdministrativo ? 'Admin' : 'Cliente' }}</td> 
          <td class="acciones">
            <div class="menu-container">
              <button class="menu-button" (click)="toggleMenu(i)">⋯</button>
              <div class="menu-options" *ngIf="menuVisibleIndex === i">
                <button (click)="seleccionarCliente(cliente.email); editarrF()">Editar</button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  

  <div *ngIf="editarF" class="popup-overlay-profile">
    <div class="popup-content-profile-edit">
      <div class="description">
        <h3>Editar Cliente</h3>
        <form [formGroup]="editarForm">
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" [(ngModel)]="nombre" name="nombre" required>
          <div *ngIf="editarForm.get('nombre')?.hasError('required') && editarForm.get('nombre')?.touched"
            class="error-message">
            Ingrese un nombre para el espacio.
          </div>

          <label for="apellido">Apellido:</label>
          <input type="text" id="apellido" [(ngModel)]="apellido" name="apellido" required>
          <div *ngIf="editarForm.get('apellido')?.hasError('required') && editarForm.get('apellido')?.touched"
            class="error-message">
            Ingrese un apellido para el espacio.
          </div>
          <label for="numeroTelefonico">Telefono:</label>
          <input type="text" id="numeroTelefonico" [(ngModel)]="numeroTelefonico" name="numeroTelefonico" required>
          <div
            *ngIf="editarForm.get('numeroTelefonico')?.hasError('required') && editarForm.get('numeroTelefonico')?.touched"
            class="error-message">
            Ingrese un nombre para el espacio.
          </div>

          <div class="btns">
            <button class="btn" type="submit" (click)="actualizarCliente()">Actualizar</button>
            <button class="btn" (click)="editarrF()">Cerrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>

<div class="alert-container">
  <div *ngIf="showDangerAlert" class="alert-danger">
      <svg viewBox="0 0 24 24" class="icon">
          <path fill="currentColor"
              d="M12,20C7.59,20 4,16.41 4,12C4,7.59 7.59,4 12,4C16.41,4 20,7.59 20,12C20,16.41 16.41,20 12,20M12,2C6.47,2 2,6.47 2,12C2,17.53 6.47,22 12,22C17.53,22 22,17.53 22,12C22,6.47 17.53,2 12,2M14.59,8L12,10.59L9.41,8L8,9.41L10.59,12L8,14.59L9.41,16L12,13.41L14.59,16L16,14.59L13.41,12L16,9.41L14.59,8Z" />
      </svg>
      {{textError}}

  </div>
  <div *ngIf="showWarningAlert" class="alert-warnin">
      <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
          fill="#FFFFFF">
          <path
              d="m40-120 440-760 440 760H40Zm138-80h604L480-720 178-200Zm302-40q17 0 28.5-11.5T520-280q0-17-11.5-28.5T480-320q-17 0-28.5 11.5T440-280q0 17 11.5 28.5T480-240Zm-40-120h80v-200h-80v200Zm40-100Z" />
      </svg>
      {{textAlert}}
  </div>
</div>